
.topnav {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,240,240,1) 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1000; 
  overflow: hidden;
  text-align: center;

}
.topnav a {
  color: #0A026E;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Helvetica", serif;
  font-weight: 170;
}

.topnav svg {
text-align: right;
overflow: hidden;
width: 150px;
align-content: center;
height: 45px; 
padding: 10px 10px;
}

body{
  background-color:#FDFCFA ;
  margin: 0;
  padding: 0;
}


h1 {
    font-size: 57px;
    font-family: "Helvetica", sans-serif; /*Może inna czcionka*/
    text-align: left;
    word-spacing: -1px;
    letter-spacing: -1px; 
    padding-top: 15%;
    color: #0A026E;
    font-weight: 440;
    margin-left: 60px;
    margin-bottom: 10px;
}

/*
h2 {
  font-size: 27px;
  font-family: "Merriweather Sans", sans-serif ;
  font-weight: 250;
  text-align: left;
  padding: 150px;
  word-spacing: -1px;
  letter-spacing: -1px; 
  padding-top: 15%;
  color: rgb(157, 153, 153);
  font-weight: 440;
  margin-left: 60px;
}
*/

p {
  text-align: left;
  font-size: 30px;
  margin: 60px;
  margin-bottom: 20px;
  font-size: Arial;
  

}

.buttons-container {
  margin-top: 10px; 
  margin-left: 60px;
  
}


.button1 {
  color: #ffffff;
  background-color: #0A026E;
  opacity: 100%;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button2 {
  color: #ffffff;
  background-color: #09026e ;
  opacity: 100%;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}



.prompt-semibold-italic {
  font-family: "Merriweather Sans", serif;
  font-weight: 600;
  font-style: italic;
}



.about {
  background-color: #ffffff;
  text-align: left;

}